<article class="about-section py-5">
    <div class="container" [innerHtml]="content.content.rendered">
    </div>
</article>
<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">{{static.NEWSLETTER}}</h2>
        <div class="intro">{{static.HOMESUBTITLE}}</div>
        <form class="signup-form form-inline justify-content-center pt-3" [formGroup]="subscribeForm"
            (ngSubmit)="subscribeFormSubmit()">
            <div class="form-group">
                <label class="sr-only" for="semail">{{static.YOUREMAIL}}</label>
                <input required formControlName="email" type="email" placeholder="Enter email"
                    class="form-control mr-md-1 semail" />
            </div>
            <button type="submit" class="btn btn-primary">{{static.SUBSCRIBE}}</button>
            <div class="inputerror" *ngIf="subscribeForm.get('email').errors && subscribeForm.get('email').touched">
                {{errorMsg}}</div>
            <div class="inputsuccess" *ngIf="successMsg">{{successMsg}}</div>
        </form>
    </div>
</section>