<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
        <div class="loader" *ngIf="loading"><img src="/assets/images/ajax-loader.gif"></div>
        <div class="item mb-5" *ngFor="let post of posts">
            <div class="media">
                <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{post?.featured_image}}"
                    onerror="this.src='/assets/images/noimage.png'" alt="image">
                <div class="media-body">
                    <h3 class="title mb-1"><a [routerLink]="['/post',post.slug]">{{post?.title?.rendered}}</a></h3>
                    <div class="meta mb-1">
                        <span class="date">{{static.PUBLISHED}} {{post?.date | prettyDate}}</span>
                        <span class="time">{{post?.reading_time}}</span>
                    </div>
                    <div class="intro" [innerHtml]="post?.excerpt?.rendered.substring(0, length)"></div>
                    <a class="more-link" [routerLink]="['/post',post.slug]">{{static.READMORE}}&rarr;</a>
                </div>
                <!--//media-body-->
            </div>
            <!--//media-->
        </div>
        <!--//item-->

        <nav class="blog-nav nav nav-justified my-5">
            <a class="nav-link-prev nav-item nav-link rounded-left" (click)="previousPage()"
                [class.disabled]="currentPage == 1">{{static.PREVIOUS}}<i
                    class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
            <a class="nav-link-next nav-item nav-link rounded-right" (click)="nextPage()"
                [class.disabled]="currentPage == totalPages">{{static.NEXT}}<i
                    class="arrow-next fas fa-long-arrow-alt-right"></i></a>
        </nav>

    </div>
</section>