<section class="cta-section theme-bg-light py-5">
    <div class="container text-center">
        <h2 class="heading">{{static.HOMETITLE}}</h2>
        <div class="intro">{{static.HOMESUBTITLE}}</div>
        <form class="signup-form form-inline justify-content-center pt-3">
            <div class="form-group">
                <label class="sr-only" for="semail">{{static.YOUREMAIL}}</label>
                <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary">{{static.SUBSCRIBE}}</button>
        </form>
    </div>
    <!--//container-->
</section>
<section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
        <div class="loader" *ngIf="loading"><img src="/assets/images/ajax-loader.gif"></div>
        <div class="item mb-5" *ngFor="let post of posts">
            <div class="media">
                <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{post?.featured_image}}" onerror="this.src='/assets/images/noimage.png'"alt="image">
                <div class="media-body">
                    <h3 class="title mb-1"><a [routerLink]="['/post',post.slug]">{{post?.title?.rendered}}</a></h3>
                    <div class="meta mb-1">
                        <span class="date">Published {{post?.date | prettyDate}}</span>
                        <span class="time">{{post?.reading_time}}</span>
                        <span class="comment"><a href="#">8 comments</a></span>
                    </div>
                    <div class="intro" [innerHtml]="post?.excerpt?.rendered.substring(0, length)"></div>
                    <a class="more-link" [routerLink]="['/post',post.slug]">{{static.READMORE}}&rarr;</a>
                </div>
                <!--//media-body-->
            </div>
            <!--//media-->
        </div>
        <!--//item-->

        <nav class="blog-nav nav nav-justified my-5">
            <a class="nav-link-next nav-item nav-link rounded ml-4" [routerLink]="['/list']">{{static.NEXT}}<i
                    class="arrow-next fas fa-long-arrow-alt-right"></i></a>
        </nav>

    </div>
</section>